html, body, .wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

#output {
    font-size: 12px;
    flex: 1 1 auto;
    overflow-y: scroll;
}

.result {
    padding: 0.5em 1em;
}

.display-input:before {
    content: '>>>';
    margin-right: 0.5em;
    color: gray;
}

.input {
    width: 100%;
    align-self: flex-end;
    border-top: 1px lightgray solid;
    display: flex;
    align-items: baseline;
}

#pyinputlabel {
    margin-left: 1em;
    flex: 0 1 auto;
    color: gray;
}

#pyinput {
    flex: 1 1 auto; 
    margin: 0;
    border: 0;
    padding: 1em 1em 1em 0.5em;
}
